{
  "version": 2,
  "builds": [
    {
      "src": "app.py",
      "use": "@vercel/python",
      "config": {
        "maxLambdaSize": "15mb"
      }
    }
  ],
  "routes": [
    {
      "src": "/api/(.*)",
      "dest": "app.py"
    },
    {
      "src": "/(.*)",
      "dest": "app.py"
    }
  ],
  "env": {
    "SUPABASE_URL": "https://olrswumpeunhstuwnhbu.supabase.co",
    "SUPABASE_KEY": "sb_publishable_cmGGk2IXVEz4VB4dKkOnXA_XnX2siUU"
  }
}